body {
  background-color: #c9f1ff;
}

.page-heading {
  text-align: center;
  margin-top: 2px;
  font-family: 'Copperplate', fantasy;
}

h1 {
  margin-bottom: 0px;
  font-size: 40px;
}

.recipe {
  text-align: center;
  margin: 10%;
  margin-top: auto;
}

.selections {
  margin-left: 50px;
}

h2 {
  margin: 10px;
  margin-left: auto;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: white;
}

input {
  margin: 10px;
}
